---
import Snake from "./Snake.astro";
---

<style>
  .game {
    width: 300px;
    height: 350px;
    margin: auto;

    background: linear-gradient(
      150.26deg,
      rgba(23, 85, 83, 0.7) 1.7%,
      rgba(67, 217, 173, 0.091) 81.82%
    );

    border: 1px solid #0c1616;
    box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(32px);
    border-radius: 12px;

    padding: 22px 20px;

    position: relative;
    z-index: -1;
  }

  .game__bolt {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;

    position: absolute;

    &::before {
      content: "x";
      font-size: 11px;
      height: 2px;
      display: block;
      margin-top: -4px;
      margin-left: 1.5px;
      color: #114944;
      font-family: cursive;
    }
  }

  .game__bolt--left-top {
    background: radial-gradient(
      73.08% 73.08% at 50% 26.92%,
      #196c6a 15.1%,
      #114b4a 100%
    );
    box-shadow:
      2px 2px 4px #0d4341,
      inset 0px 1px 2px #1a8277;

    top: 8px;
    left: 7px;
  }

  .game__bolt--left-bottom {
    background: radial-gradient(
      73.08% 73.08% at 50% 26.92%,
      #164c51 15.1%,
      #0d3a40 100%
    );
    box-shadow:
      2px 2px 4px #092d32,
      inset 0px 1px 2px #16645c;

    bottom: 8px;
    left: 7px;
  }

  .game__bolt--right-top {
    background: radial-gradient(
      73.08% 73.08% at 50% 26.92%,
      #217d7a 15.1%,
      #114b4a 100%
    );
    box-shadow:
      2px 2px 4px #0d4341,
      inset 0px 1px 2px #1f8177;

    top: 8px;
    right: 7px;
  }

  .game__bolt--right-bottom {
    background: radial-gradient(
      73.08% 73.08% at 50% 26.92%,
      #234b7c 15.1%,
      #122e4f 100%
    );
    box-shadow:
      2px 2px 4px #122c4e,
      inset 0px 1px 2px #2c588d;

    bottom: 8px;
    right: 7px;
  }

  @media screen and (min-width: 1024px) {
    .game {
      height: 420px;
      width: 280px;
    }
  }

  @media screen and (min-width: 1440px) {
    .game {
      width: 540px;

      background: linear-gradient(
        150.26deg,
        rgba(23, 85, 83, 0.7) 1.7%,
        rgba(67, 217, 173, 0.091) 81.82%
      );
      border: 1px solid #0c1616;
      box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(32px);
    }
  }
</style>

<div class="game">
  <div class="game__bolt game__bolt--left-top"></div>
  <div class="game__bolt game__bolt--left-bottom"></div>
  <div class="game__bolt game__bolt--right-top"></div>
  <div class="game__bolt game__bolt--right-bottom"></div>

  <Snake />
</div>
