---
import Button from "../../atoms/gen/Button.astro";
---

<style>
  .wrapper-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  }
</style>

<div class="wrapper-button">
  <Button> Acerca de mí </Button>
</div>
