---
import Button from "../../atoms/gen/Button.astro";

const { class: className } = Astro.props;
---

<style>
  .wrapper-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }

  .hero__game__button {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .hero__game__button {
      display: flex;
    }
  }
</style>

<div class:list={className + " wrapper-button"}>
  <Button> Acerca de mí </Button>
</div>
