---
import { DashboardBlur } from "../../atoms";
---

<style>
  main {
    color: white;
    padding: 40px;
    padding-top: 70px;
  }

  .wrapper-text {
    h1 {
      font-size: 45px;
      letter-spacing: 0;
      line-height: 100%;

      margin-top: 20px;
    }

    h4 {
      font-size: 18px;
      color: #e5e9f0;
    }

    h6 {
      color: var(--color-primary);
      margin-top: 22px;
      font-size: 18px;
      letter-spacing: 0;

      width: fit-content;

      &::after {
        content: "|";
        margin-right: 10px;
        position: relative;
        z-index: -1;

        animation: typingEffect 1s infinite;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    main {
      padding-left: 10px;
      padding-right: 0;
    }

    .wrapper-text {
      h1 {
        margin-top: 16px;
      }

      h6 {
        margin-top: 12px;
      }
    }
  }

  .wrapper-image {
    position: absolute;
    z-index: -1;

    width: 150vw;
    height: 90vh;
    left: -50%;
    top: 16px;

    overflow: hidden;

    @media screen and (min-width: 760px) {
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
    }
  }

  @keyframes typingEffect {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media screen and (max-width: 1024px) {
    .language-js {
      display: none;
    }
  }

  .language-js {
    background-color: transparent;
    padding: 0;
    margin-left: -55px;
    margin-top: 20px;
    line-height: 1.8;

    .hljs-string {
      text-decoration: underline;
      cursor: pointer;
    }
  }
</style>

<main>
  <div class="wrapper-text">
    <h4>Hola, mi nombre es</h4>
    <h1>Carlos Espinoza</h1>
    <h6>{">"} Desarollador full-stack</h6>

    <pre><code class="language-js">
      // Lista de mis repositorios publicos
      const githubLink = "https://github.com/carlos-espinoza-perez";
    </code></pre>
  </div>

  <div class="wrapper-image">
    <DashboardBlur />
  </div>
</main>

<script>
  const profession = document.querySelector("h6");
  let index = 0;

  const listProfessions = [
    "Desarollador Full-Stack",
    "Desarrollador Front-End",
    "Desarrollador Back-End",
    "Desarollador de Software",
    "Estudiante de Ingenieria",
    "Gestión de Base de Datos",
  ];

  const loadEffectWriter = () => {
    if (!profession) return;
    profession.innerHTML = "> ";

    let isWriting = true;
    let indexLetter = 0;
    let letterMax = listProfessions[index].length - 1;

    const showLetter = () => {
      let word = listProfessions[index];
      if (!word) {
        index = 0;
        word = listProfessions[index];
      }

      letterMax = word.length - 1;

      if (isWriting) {
        if (profession.innerHTML == "&gt;") profession.innerHTML += " ";
        profession.innerHTML += word.charAt(indexLetter);

        indexLetter++;
        if (indexLetter > letterMax) {
          isWriting = false;
        }
      } else {
        profession.innerHTML = profession.innerHTML.slice(0, -1);

        indexLetter--;
        if (indexLetter < 0) {
          isWriting = true;
          indexLetter = 0;
          index++;
        }
      }
    };

    showLetter();

    let intervalTime = 0;
    let intervalMax = 10;

    setInterval(() => {
      if (indexLetter - 1 == letterMax) {
        intervalTime += 1;

        if (intervalMax == intervalTime) {
          intervalTime = 0;
        } else return;
      }

      showLetter();
    }, 100);
  };

  loadEffectWriter();
</script>

<script>
  import hljs from "highlight.js/lib/core";
  import "highlight.js/styles/panda-syntax-dark.css";
  import javascript from "highlight.js/lib/languages/javascript";

  // Then register the languages you need
  hljs.registerLanguage("javascript", javascript);
  hljs.highlightAll();

  document.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    if (!target) return;

    const isText = target.className.includes("hljs-string");
    const isLinkText = isText && target.innerHTML.includes("https://");
    const text = target.innerText.replaceAll('"', "");

    if (isLinkText && window) window.open(text, "_blank")?.focus();
  });
</script>
