---
import Game from "../game/Game.astro";
import ButtonActionHome from "./ButtonActionHome.astro";
import Dashboard from "./Dashboard.astro";
---

<style>
  @media screen and (min-width: 1024px) {
    .hero {
      display: flex;
      height: calc(100dvh - 124px);
      justify-content: space-around;
      align-items: center;
    }
  }

  @media screen and (min-width: 1440px) {
    .hero {
      max-width: 1440px;
      margin: 0 auto;
      justify-content: space-between;
    }
  }

  .hero__game {
    position: relative;
    z-index: 1;
  }
</style>

<section class="hero">
  <Dashboard />

  <div class="hero__game">
    <Game />
    <ButtonActionHome class="hero__game__button" />
  </div>
</section>
