---
import Layout from "../../../layouts/Layout.astro";
import { Footer } from "../../molecules";
import { Hero } from "../../organisms";
import ButtonActionHome from "../../organisms/home/ButtonActionHome.astro";
---

<Layout title="Dashboard | Carlos Espinoza">
  <Hero />
  <div class="footer-page">
    <Footer isMovile={false} />
  </div>
</Layout>

<style>
  @media screen and (max-width: 760px) {
    .footer-page {
      display: none;
    }
  }
</style>
