---
import MetaOg from "../common/MetaOg.astro";
import { Header } from "../ui/molecules";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio web de Carlos Espinoza" />
    <meta name="viewport" content="width=device-width" />

    <MetaOg />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #43d9ad;

    --color-background: #010c15;
    --color-text-gray: #607b96;
    --color-line-gray: #1e2d3d;

    --padding-body: 20px 15px;
  }
  html {
    font-family: "Fira Code", monospace;
    background: var(--color-background);
  }
  code {
    font-family: "Fira Code", monospace;
  }
</style>

